{% extends 'SubmitForm/_layout.html' %}

{% load static %}
{% block jsBlock %}
<script src="{% static 'assets/vendors/select2/dist/js/select2.min.js' %}"></script>
<script>
    $(document).ready(function () { $('#id_CharField').select2(); });
</script>
<script type="text/javascript">
    $('input[type=text]').addClass('form-control');
    $('input[type=number]').addClass('form-control');
    $('input[type=file]').addClass('form-control');
    $('select').addClass('form-control');
</script>
<script type="application/javascript">
    function RegisterCharfield() {
        $.ajax({
            data: {
                text: $('#text').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                dataType: "json",
            },
            type: 'POST',
            url: "{% url 'SubmitForm:RegisterCharfield1' %}",
            success: function (response) {
                document.getElementById("id_CharField").innerHTML = "";
                let arr_from_json = JSON.parse(response);
                for (let i = 0; i < arr_from_json.length; i++) {
                    $('#id_CharField').append("<option value=" + arr_from_json[i].id + ">" + arr_from_json[i].text + "</option>");
                }
                $('#exampleModal3').modal('toggle');
                document.getElementById("text").value = "";
                let myVal = $('#id_CharField option:last').val();
                $('#id_CharField').val(myVal);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + ": " + errorThrown);
            },
        });
    }
</script>
{% if successMessage %}
<script>
    $('#exampleModal').modal('show');
</script>
{% endif %}
{% endblock %}


{% block cssBlock %}

<link href="{% static 'assets/vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
<style>
    span.select2.select2-container.select2-container--default {
        width: 100% !important;
    }
</style>
{% endblock %}


{% block pageContent %}

<div class="clearfix"></div>
<div class="">

    <div class="row">
        <section>

            <form id="myform" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="x_panel">
                    <div class="x_title bg-info">
                        <h2 class="pull-right">
                            {% if Name %}
                            ویرایش
                            {% else %}
                            ثبت
                            {% endif %}
                        </h2>
                        <ul class="nav navbar-left panel_toolbox">
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="col-md-6 col-sm-12 col-xs-12 form-group pull-right">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">
                                نام
                            </label>
                            <input required="" type="text" name="Name" class="form-control" id="id_Name"
                                value="{{ Name }}" pattern="[\u0600-\u06FF\uFB8A\u067E\u0686\u06AF\u200C\u200F ]{3,70}"
                                oninvalid="this.setCustomValidity('فقط حروف فارسی وارد کنید')"
                                onchange="this.setCustomValidity('')" />
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12 form-group pull-right">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">
                                {{ form.IntField.label }}
                            </label>
                            <input type="number" name="IntField" id="id_IntField" value="{{ intfield }}"
                                oninvalid="this.setCustomValidity('فقط عددد صحیح وارد کنید')"
                                onchange="this.setCustomValidity('')">
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12 form-group pull-right">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">
                                {{ form.FloatField.label }}
                            </label>
                            <input type="number" name="FloatField" step="any" id="id_FloatField"
                                value="{{ floatfield }}" oninvalid="this.setCustomValidity('فقط عددد اعشاری وارد کنید')"
                                onchange="this.setCustomValidity('')">
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12 form-group pull-right">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">
                                {{ form.CharField.label }}
                            </label>
                            <div class="input-group">
                                {{ form.CharField }}
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModal3"><i class="fa fa-plus"></i></button>
                                    <button type="button" onclick="alert('کاراکتر وارد کنید');"
                                        class="btn btn-success"><i class="fa fa-question"
                                            aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 form-group pull-right">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">
                                {{ form.VcharField.label }}
                            </label>
                            {{ form.VcharField }}
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12 form-group pull-right">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">
                                {{ form.ImageField.label }}
                            </label>
                            {{ form.ImageField }}
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12 form-group pull-right">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">
                                تاریخ
                            </label>
                            <input type="text" name="DateField" class="form-control" id="id_DateField"
                                value="{{ DateField }}" placeholder="تاریخ" data-mddatetimepicker="true"
                                data-placement="right" data-englishnumber="true"
                                pattern='([1][234]\d{2}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))'
                                oninvalid="this.setCustomValidity('تاریخ معتبر وارد کنید')"
                                onchange="this.setCustomValidity('')" />
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12 form-group pull-right">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">
                                {{ form.FileField.label }}
                            </label>
                            {{ form.FileField }}
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12 form-group pull-right">
                            <button type="submit" class="btn btn-primary">
                                {% if Name %}
                                ویرایش
                                {% else %}
                                ثبت
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
                {% if form.errors.Name %}
                ارور فیلد {{ form.Name.label }}: {{ form.errors.Name }}
                {% endif %}

                {% if form.errors.IntField %}
                ارور فیلد {{ form.IntField.label }}: {{ form.errors.IntField }}
                {% endif %}

                {% if form.errors.FloatField %}
                ارور فیلد {{ form.FloatField.label }}: {{ form.errors.FloatField }}
                {% endif %}

                {% if form.errors.ImageField %}
                ارور فیلد {{ form.ImageField.label }}: {{ form.errors.ImageField }}
                {% endif %}

                {% if form.errors.FileField %}
                ارور فیلد {{ form.FileField.label }}: {{ form.errors.FileField }}
                {% endif %}

                {% if form.errors.DateField %}
                ارور فیلد {{ form.DateField.label }}: {{ form.errors.DateField }}
                {% endif %}
            </form>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ثبت موفق</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% if successMessage %}
                            {{ successMessage }}
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">ok</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ثبت کاراکتر</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" id="text">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnAJaxSave"
                                onclick="RegisterCharfield()">ثبت
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">خروج</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}