<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>{{ request.user.email }}</li>
        <li>{{ request.user.national_code }}</li>
        <li>{{ request.user.mobile_number1 }}</li>
        <li>{{ request.user.birthdate }}</li>
        <li>{{ request.user.profile_picture }}</li>
    </ul>
</body>
</html>