{% extends '_layout.html' %}
{% load static %}

{% block jsBlock %}
    <!-- Datatables -->
    <script src="{% static 'assets/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'assets/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    {% for english_institutes_register in english_institutes_registers %}
        <script>
            document.getElementById("{{ english_institute.CreateDate }}{{ forloop.counter }}").innerHTML = normalizeDate("{{ english_institute.CreateDate }}");
        </script>
    {% endfor %}
    <script>
        $('input[type=text]').addClass('form-control');
        $('input[type=file]').addClass('form-control');
        $('input[type=number]').addClass('form-control');
        $('select').addClass('form-control');
       
    </script>
{% endblock %}


{% block cssBlock %}
    <!-- Datatables -->

    <link href="{% static 'assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}"
          rel="stylesheet">
          <style>
.limit_text{
            white-space: nowrap;
            overflow: hidden;
            width: 200px;
            height: 30px;
            text-overflow: ellipsis; 
        }
          </style>
        <style>
        span.select2.select2-container.select2-container--default {
            width: 100% !important;
        }
    </style>
{% endblock %}


{% block pageContent %}
        <div class="x_panel">
            <div class="x_title bg-primary">

                <h2 class="pull-right">لیست</h2>
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                           cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>ثبت کننده</th>
                            <th>نوع فرم</th>
                            <th>وضعیت</th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for query_set in query_sets %}
                            <tr>
                                <!--ردیف-->
                                <td>{{ forloop.counter }}</td>
                                <!--ثبت کننده-->
                                <td>
                                {% if query_set.user.first_name and query_set.user.last_name %}
                                    {{ query_set.user.first_name }} {{ query_set.user.last_name }}
                                {% else %}
                                    {{ query_set.user.username }}
                                {% endif %}
                                </td>
                                <!--نوع فرم-->
                                <td>                             
                                    {% if query_set.type == 1 %}
                                        <span>آموزشگاه</span>
                                    {% elif query_set.type == 2 %}
                                        <span>علمی آزاد</span>
                                    {% elif query_set.type == 3 %}
                                        <span>زبان خارجی</span>
                                    {% endif %}               
                                </td>
                                <!--وضعیت-->
                                <td style="text-align: center;">
                                    {% if query_set.send_status == 2 %}
                                    <span >ارسال شده</span>
                                    {% elif query_set.send_status == 3 %}
                                    <span >رد شده</span>
                                    {% elif query_set.send_status == 4 %}
                                    <span >تایید شده</span>
                                    {% endif %}
                                </td>
                                <!--عملیات-->
                                <td>
                                    <!--Institute-->
                                    {% if query_set.type == 1 %}
                                        {% if query_set.send_status == 2 %}
                                        <a class="btn btn-success" href="{% url 'education:supervisor_accepted_forms_list' id=query_set.id %}">تایید</a>
                                        <a class="btn btn-danger" href="{% url 'education:supervisor_rejected_forms_list' id=query_set.id %}">رد</a>
                                        {% endif %}
                                    {% endif %}

                                    <!--Nonprofit Institute-->
                                    {% if query_set.type == 2 %}
                                        {% if query_set.send_status == 2 %}
                                        <a class="btn btn-success" href="{% url 'education:supervisor_nonprofit_institute_accepted_forms_list' id=query_set.id %}">تایید</a>
                                        <a class="btn btn-danger" href="{% url 'education:supervisor_nonprofit_institute_rejected_forms_list' id=query_set.id %}">رد</a>
                                        {% endif %}
                                    {% endif %}

                                    <!--English Institute-->
                                    {% if query_set.type == 3 %}
                                        {% if query_set.send_status == 2 %}
                                        <a class="btn btn-success" href="{% url 'education:supervisor_rejected_english_institute_forms_list' id=query_set.id %}">تایید</a>
                                        <a class="btn btn-danger" href="{% url 'education:supervisor_accepted_english_institute_forms_list' id=query_set.id %}">رد</a>
                                        {% endif %}
                                    {% endif %}
                                        
                                    
                                    <!-- {% if query_set.user == user %}
                                            <a class="btn btn-primary" href="/EditExperience/{{ query_set.id }}"> ویرایش </a>
                                            <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2"
                                            onclick="document.getElementById('delete_link').href='/delete_forms_list/{{ query_set.id }}'">حذف</a>
                                    {% endif %}
                                    <a class="btn btn-success" href="#">کاربرگ</a> -->
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">حذف تجربه</h5>
               <button type="button" class="close" data-dismiss="modal"
                       aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <p>آیا از حذف این آیتم مطمئن هستید؟</p>
               <br>
               <a class="btn btn-danger" id="delete_link"
                  href=""><i
                       class="fa fa-eye">
                   حذف</i> </a>
               <button type="button" class="btn btn-secondary"
                       data-dismiss="modal">کنسل
               </button>
           </div>
       </div>
   </div>
</div>

<!-- بازنگری modal  -->
<div class="modal fade" id="recyclemodal" tabindex="-1" role="dialog"
aria-labelledby="recyclemodalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <h5 class="modal-title" id="recyclemodalLabel"> بازنگری</h5>
           <button type="button" class="close" data-dismiss="modal"
                   aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
       </div>
       <div class="modal-body">
           <p>آیا از بازنگری این تجربه مطمئن هستید؟
            <br>
            (این تجربه تحت عنوان بازنگری ثبت میگردد و تجربیات قبل همچنان وجود دارند)

           </p>
           <br>
           <a class="btn btn-warning" id="recycle_link"
              href="">بازنگری </a>
           <button type="button" class="btn btn-secondary"
                   data-dismiss="modal">کنسل
           </button>
       </div>
   </div>
</div>
</div>
{% endblock %}